#Lienhe .container {
    margin-top: 170px;
    margin-bottom: 50px;
}

.lh {
    font-size: 25px;
    color: #554dde;
    font-weight: 700;
}

#Lienhe form {
    background-image: linear-gradient(to right, #59d3fc, #554dde);
    padding-bottom: 30px;
}

.text-ttlh {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.box-ttlh>label[for="fullname_user_connect"],
.box-ttlh>label[for="email_user_connect"] {
    margin-top: 20px;
}

.box-ttlh>#fullname_user_connect {
    width: 455px;
}

.box-ttlh>#email_user_connect {
    width: 460px;
}

.box-ttlh>#phone_user_connect {
    width: 460px;
    margin-right: 400px;
}

.box-ttlh>#title_user_connect {
    width: 460px;
}

#Lienhe #xacnhanguilienhe {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 20%;
    padding: 10px 70px;
    margin-left: 38%;
    color: #59d3fc;
    font-size: 19px;
    font-weight: 700;
    border-radius: 50px;
    transition: transform 0.3s ease;
}

#Lienhe #xacnhanguilienhe:hover {
    outline: 3px #59d3fc solid;
    background-color: white;
    color: #59d3fc
}

#Lienhe #xacnhanguilienhe:active {
    transform: scale(0.95);
}

#Lienhe .ghichulienhe {
    padding: 10px 10px;
    border: 2px #554dde solid;
    height: fit-content;
}

.ghichulienhe h2 {
    font-size: 25px;
    color: #554dde;
    font-weight: 700;
}

.ghichulienhe p {
    font-weight: 700;
}

.ghichulienhe .dthotro {
    font-size: 25px;
    font-weight: bold;
    background-image: linear-gradient(to right, #59d3fc, #554dde);
    color: white;
    padding: 10px 20px;
    width: 60%;
    border-radius: 10px;
    margin-left: 60px;
    box-sizing: border-box;
}