@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}


/*Header*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAF7CF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: fit-content;
}

#navbar li {
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #588eee;
    transition: 0.3s ease;
}

#navbar li a i {
    padding-right: 10px;
}

#navbar li a:hover,
#navbar li a.active {
    color: #554dde;
}

#navbar li:active {
    transform: scale(0.8);
}


#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 80%;
    height: 2px;
    position: absolute;
    background-color: #554dde;
    bottom: -4px;
    left: 20px;
}

#button-login {
    font-weight: 600;
    background-image: linear-gradient(to right, #554dde, #59d3fc);
    border: none;
    padding-top: 10px;
    border-radius: 10px;
    transition: 0.3s ease;
    width: 100%;
}

#button-login:hover {
    background-image: linear-gradient(to right, #59d3fc, #554dde);
}

#button-login:active {
    transform: scale(0.8);
}

.form-search .btn {
    width: 20%;
    border: solid 1px;
    border-color: #554dde;
    color: #554dde;
}

.form-search .btn:hover {
    color: white;
    background-color: #554dde;
    border: none;
}

.form-search .btn:active {
    transform: scale(0.8);
}